<% width = 800.0 %>
<% height = 400.0 %>
<% @hex =  Milkman::Application.config.hex %>
<% @types = Milkman::Application.config.types %>

<% @display.each do |id, results| %>
<% s = Subject.find_by_zooniverse_id(id) %>
<svg height="<%= height %>" version="1.1" width="<%= width %>" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 <%= width %> <%= height %>" preserveAspectRatio="xMinYMin" style="overflow: hidden; position: relative;">
  <image xlink:href="<%= s.image %>" preserveAspectRatio="xMidYMid meet" width="<%= width %>" height="<%= height %>"/>

  <% results.each do |type,res| %>
    <% res["noise"].each do |d| %>
      <ellipse cx="<%= d["x"] %>" cy="<%= d["y"] %>" rx="<%= d["rx"] %>" ry="<%= d["ry"] %>" <%= type %>="-1" fill="#000000" stroke="black" fill-opacity="0" stroke-width="2" tabindex="0" opacity="0" transform="rotate(<%= d["angle"] %>, <%= d["x"] %>, <%= d["y"] %>)"></ellipse>
    <% end %>
  <% end %>

  <% results.each do |type,res| %>
    <% res["signal"].each do |k,arr| %>
      <% arr.each do |d| %>
        <ellipse cx="<%= d["x"] %>" cy="<%= d["y"] %>" rx="<%= d["rx"] %>" ry="<%= d["ry"] %>" <%= type %>="<%= k %>" fill="#000000" stroke="white" fill-opacity="0" stroke-width="2" tabindex="0" opacity="0"  transform="rotate(<%= d["angle"] %>, <%= d["x"] %>, <%= d["y"] %>)"></ellipse>
      <% end %>
    <% end %>
  <% end %>

  <% results.each do |type,res| %>
    <% count = 0 %>
    <% res["reduced"].each do |d| %>
      <ellipse cx="<%= d["x"] %>" cy="<%= d["y"] %>" rx="<%= d["rx"] %>" ry="<%= d["ry"] %>" fill="#000000" stroke="white" fill-opacity="0" stroke-width="4" tabindex="0" opacity="0.5" transform="rotate(<%= d["angle"] %>, <%= d["x"] %>, <%= d["y"] %>)" onmouseover="$('[<%= type %>=<%= count %>]').css('opacity', '0.5');" onmouseout="$('[<%= type %>=<%= count %>]').css('opacity', '0');" ></ellipse>
      <ellipse cx="<%= d["x"] %>" cy="<%= d["y"] %>" rx="<%= d["rx"] %>" ry="<%= d["ry"] %>" fill="#000000" stroke="<%= @hex[type] %>" fill-opacity="0" stroke-width="2" tabindex="0" opacity="1.0" transform="rotate(<%= d["angle"] %>, <%= d["x"] %>, <%= d["y"] %>)" onmouseover="$('[<%= type %>=<%= count %>]').css('opacity', '0.5');" onmouseout="$('[<%= type %>=<%= count %>]').css('opacity', '0');" ></ellipse>
      <% count+=1 %>
    <% end %>
  <% end %>

</svg>
<div id="catalogue-info">
    <ul>
        <li><span class="key">Subject</span>: <%= s.zooniverse_id %></li>
        <li><span class="key">Zooniverse ID</span>: <a href="http://talk.milkywayproject.org/#/subjects/<%= s.zooniverse_id %>" target="_blank"><%= s.zooniverse_id %></a></li>
        <li><span class="key">Coords</span>: <%= s.coords %></li>
    </ul>
</div>
<% end %>
