<% scale = 288/Milkman::Application.config.project["image"]["width"] %>
<% width = Milkman::Application.config.project["image"]["width"]*scale %>
<% height = Milkman::Application.config.project["image"]["height"]*scale %>
<% @types = Milkman::Application.config.project["object_types"] %>

<div class="subject-preview">
<svg height="<%= height %>" version="1.1" width="<%= width %>" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 <%= width %> <%= height %>" preserveAspectRatio="xMinYMin" style="overflow: hidden; position: relative;">
  <%- @opts = [@s.image, width, height] -%>
  <%= render partial: "image", obj: @opts %>

    <% @results.each do |type,res| %>
      <% res["reduced"].each_with_index do |d,i| %>
        
        <% d["signal"].each do |a| %>
            <%- @obj = [a, @s.zooniverse_id, scale, "#ffffff", i, "signal"] -%>
            <%= render partial: "#{type}", obj: @obj %>
        <% end %>

        <%- @obj = [d, @s.zooniverse_id, scale, @types[type]["hex"], i, "reduced"] -%>
        <%= render partial: "#{type}", obj: @obj %>

      <% end %>
    <% end %>

</svg>
</div>
<%- phref = "/subjects/"+@s.zooniverse_id+"?eps="+@eps.to_s+"&min="+@min.to_s -%>
<a title="Explore Image" href="<%= phref %>" class="preview-link">&rarr;</a>
