<% scale = 960.0/Milkman::Application.config.image["width"] %>
<% width = Milkman::Application.config.image["width"]*scale %>
<% height = Milkman::Application.config.image["height"]*scale %>
<% @hex =  Milkman::Application.config.hex %>
<% @types = Milkman::Application.config.types %>

<div id="catalogue-info">
    <ul>
        <li><span class="key">Coords</span>: <%= @s.glon %>, <%= @s.glat %></li>
        <li><span class="key">Size</span>: <%= @s.metadata["size"] %></li>
        <li><span class="key">Volunteers</span>: <%= @s.classification_count %></li>
        <li><span class="key">Talk</span>: <a href="http://talk.milkywayproject.org/#/subjects/<%= @s.zooniverse_id %>" target="_blank"><%= @s.zooniverse_id %></a></li>
        <li><span class="key"><%= @s.dr1 ? "DR1" : "DR2" %></span></li>
        <span class="stretch"></span></ul>
</div>
<div id="maps">
  <svg height="<%= height %>" version="1.1" width="<%= width %>" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 <%= width %> <%= height %>" preserveAspectRatio="xMinYMin" style="overflow: hidden; position: relative;">
    <image xlink:href="<%= @s.image %>" preserveAspectRatio="xMidYMid meet" width="<%= width %>" height="<%= height %>"/>

    <% @results.each do |type,res| %>
      <% res["signal"].each do |k,arr| %>
        <% arr.each do |d| %>
          <%- @obj = [d, @s.zooniverse_id, scale, "#ffffff", k, false] -%>
          <%= render partial: "#{type}", obj: @obj %>
        <% end %>
      <% end %>
    <% end %>

    <% @results.each do |type,res| %>
      <% count = 0 %>
      <% res["reduced"].each do |d| %>
        <%- @obj = [d, @s.zooniverse_id, scale, @hex[type], count, true] -%>
        <%= render partial: "#{type}", obj: @obj %>
        <% count+=1 %>
      <% end %>
    <% end %>
  </svg>
</div>

<div id="info">
  <div id="computed-info">
      <table class="scan-results">
        <tr class="table-header">
          <td>Type</td>
          <td>GLON</td>
          <td>GLAT</td>
          <td>X (px)</td>
          <td>Y (px)</td>
          <td>RX</td>
          <td>RY</td>
          <td>PA/&deg;</td>
        </tr>
        <% row=0 %>
        <% count = 0 %>
         <% @results.each do |type,res| %>
        <% res["reduced"].each do |a| %>
        <% row+=1 %>
          <tr class="<%= row%2==0 ? "even" : "odd" %>" onmouseover="$('[<%= type %>=<%= count %>]').css('opacity','0.5');" onmouseout="$('[<%= type %>=<%= count %>]').css('opacity','0');">
            <td> <%= @types.key(type) %></td>
            <td> <%= sprintf "%.4f", a["glon"] %> &plusmn; <%= sprintf "%.4f", a["quality"]["qglon"] %></td>
            <td> <%= sprintf "%.4f", a["glat"] %> &plusmn; <%= sprintf "%.4f", a["quality"]["qglat"] %></td>
            <td> <%= sprintf "%.1f", a["x"] %> &plusmn; <%= sprintf "%.1f", a["quality"]["qx"] %></td>
            <td> <%= sprintf "%.1f", a["y"] %> &plusmn; <%= sprintf "%.1f", a["quality"]["qy"] %></td>
            <td> <%= sprintf "%.1f", a["rx"] %></td>
            <td> <%= sprintf "%.1f", a["ry"] %></td>
            <td> <%= sprintf "%.1f", a["angle"] %></td>
          </tr>
          <% count+=1 %>
        <% end %>
        <% end %>
      </table>
      <div style="clear:both;"></div>
  </div>

  <div id="raw-<%= @s.zooniverse_id %>" class="raw-holder"></div>
  <script type="text/javascript">
    $.ajax({
      url: "/subjects/raw/<%= @s.zooniverse_id %>",
      cache: false,
      success: function(html){
        $("#raw-<%= @s.zooniverse_id %>").append(html);
      }
    });
  </script>

</div>
