<% scale = 1.2 %>
<% width = 800.0*scale %>
<% height = 400.0*scale %>
<% @hex =  Milkman::Application.config.hex %>
<% @types = Milkman::Application.config.types %>

<div id="catalogue-info">
    <ul>
        <li><span class="key">Coords</span>: <%= @s.glon %>, <%= @s.glat %></li>
        <li><span class="key">Size</span>: <%= @s.metadata["size"] %></li>
        <li><span class="key">Volunteers</span>: <%= @s.classification_count %></li>
        <li><span class="key">Talk</span>: <a href="http://talk.milkywayproject.org/#/subjects/<%= @s.zooniverse_id %>" target="_blank"><%= @s.zooniverse_id %></a></li>
        <li><span class="key"><%= @s.dr1 ? "DR1" : "DR2" %></span></li>
        <span class="stretch"></span></ul>
</div>
<div id="maps">
  <svg height="<%= height %>" version="1.1" width="<%= width %>" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 <%= width %> <%= height %>" preserveAspectRatio="xMinYMin" style="overflow: hidden; position: relative;">
    <image xlink:href="<%= @s.image %>" preserveAspectRatio="xMidYMid meet" width="<%= width %>" height="<%= height %>"/>

    <% @results.each do |type,res| %>
      <% res["signal"].each do |k,arr| %>
        <% arr.each do |d| %>
          <%- if ["bubble", "cluster", "ego", "galaxy"].include? type -%>
            <ellipse cx="<%= d["x"]*scale %>" cy="<%= d["y"]*scale %>" rx="<%= d["rx"]*scale %>" ry="<%= d["ry"]*scale %>" <%= type %>="<%= k %>" fill="#000000" stroke="white" fill-opacity="0" stroke-width="2" tabindex="0" opacity="0"  transform="rotate(<%= d["angle"] %>, <%= d["x"]*scale %>, <%= d["y"]*scale %>)"></ellipse>
          <%- else -%>
            <rect x="<%= (d["x"].to_f)*scale %>" y="<%= (d["y"].to_f)*scale %>" width="<%= (d["rx"].to_f)*scale %>" height="<%= (d["ry"].to_f)*scale %>" <%= type %>="<%= k %>" fill="#000000" stroke="white" fill-opacity="0" stroke-width="2" tabindex="0" opacity="0"  />
          <%- end -%>
        <% end %>
      <% end %>
    <% end %>

    <% @results.each do |type,res| %>
      <% count = 0 %>
      <% res["reduced"].each do |d| %>
        <%- if ["bubble", "cluster", "ego", "galaxy"].include? type -%>
          <ellipse cx="<%= d["x"]*scale %>" cy="<%= d["y"]*scale %>" rx="<%= d["rx"]*scale %>" ry="<%= d["ry"]*scale %>" fill="#000000" stroke="white" fill-opacity="0" stroke-width="4" tabindex="0" opacity="0.5" transform="rotate(<%= d["angle"] %>, <%= d["x"]*scale %>, <%= d["y"]*scale %>)" onmouseover="$('[<%= type %>=<%= count %>]').css('opacity', '0.5');" onmouseout="$('[<%= type %>=<%= count %>]').css('opacity', '0');" ></ellipse>
          <ellipse cx="<%= d["x"]*scale %>" cy="<%= d["y"]*scale %>" rx="<%= d["rx"]*scale %>" ry="<%= d["ry"]*scale %>" fill="#000000" stroke="<%= @hex[type] %>" fill-opacity="0" stroke-width="2" tabindex="0" opacity="1.0" transform="rotate(<%= d["angle"] %>, <%= d["x"]*scale %>, <%= d["y"]*scale %>)" onmouseover="$('[<%= type %>=<%= count %>]').css('opacity', '0.5');" onmouseout="$('[<%= type %>=<%= count %>]').css('opacity', '0');" ></ellipse>
        <%- else -%>
          <rect x="<%= (d["x"].to_f)*scale %>" y="<%= (d["y"].to_f)*scale %>" width="<%= (d["rx"].to_f)*scale %>" height="<%= (d["ry"].to_f)*scale %>" fill="#000000" stroke="white" fill-opacity="0" stroke-width="4" tabindex="0" opacity="0.5" onmouseover="$('[<%= type %>=<%= count %>]').css('opacity', '0.5');" onmouseout="$('[<%= type %>=<%= count %>]').css('opacity', '0');" />
          <rect x="<%= (d["x"].to_f)*scale %>" y="<%= (d["y"].to_f)*scale %>" width="<%= (d["rx"].to_f)*scale %>" height="<%= (d["ry"].to_f)*scale %>" fill="#000000" stroke="<%= @hex[type] %>" fill-opacity="0" stroke-width="2" tabindex="0" opacity="1.0" onmouseover="$('[<%= type %>=<%= count %>]').css('opacity', '0.5');" onmouseout="$('[<%= type %>=<%= count %>]').css('opacity', '0');" />
        <%- end -%>
        <% count+=1 %>
      <% end %>
    <% end %>
  </svg>
</div>

<div id="info">
  <div id="computed-info">
      <table class="scan-results">
        <tr class="table-header">
          <td>Type</td>
          <td>GLON</td>
          <td>GLAT</td>
          <td>X (px)</td>
          <td>Y (px)</td>
          <td>RX</td>
          <td>RY</td>
          <td>PA/&deg;</td>
        </tr>
        <% row=0 %>
        <% @results.each do |type,res| %>
        <% count=0 %>
        <% res["reduced"].each do |a| %>
          <% row+=1 %>
          <tr class="<%= row%2==0 ? "even" : "odd" %>" onmouseover="$('[<%= type %>=<%= count %>]').css('opacity', '0.5');" onmouseout="$('[<%= type %>=<%= count %>]').css('opacity', '0');">
            <td> <%= @types.key(type) %></td>
            <td> <%= sprintf "%.4f", a["glon"] %> &plusmn; <%= sprintf "%.4f", a["quality"]["qglon"] %></td>
            <td> <%= sprintf "%.4f", a["glat"] %> &plusmn; <%= sprintf "%.4f", a["quality"]["qglat"] %></td>
            <td> <%= sprintf "%.1f", a["x"] %> &plusmn; <%= sprintf "%.1f", a["quality"]["qx"] %></td>
            <td> <%= sprintf "%.1f", a["y"] %> &plusmn; <%= sprintf "%.1f", a["quality"]["qy"] %></td>
            <td> <%= sprintf "%.1f", a["rx"] %></td>
            <td> <%= sprintf "%.1f", a["ry"] %></td>
            <td> <%= sprintf "%.1f", a["angle"] %></td>
          </tr>
          <% count+=1 %>
        <% end %>
        <% end %>
      </table>
      <div style="clear:both;"></div>
  </div>

  <div id="simbad-<%= @s.zooniverse_id %>" class="simbad-holder"></div>
  <script type="text/javascript">
    $.ajax({
      url: "/subjects/simbad/<%= @s.zooniverse_id %>",
      cache: false,
      success: function(html){
        $("#simbad-<%= @s.zooniverse_id %>").append(html);
      }
    });
  </script>

  <div id="raw-<%= @s.zooniverse_id %>" class="raw-holder"></div>
  <script type="text/javascript">
    $.ajax({
      url: "/subjects/raw/<%= @s.zooniverse_id %>",
      cache: false,
      success: function(html){
        $("#raw-<%= @s.zooniverse_id %>").append(html);
      }
    });
  </script>

</div>
