<% scale = 960.0/@s.width %>
<% width = @s.width*scale %>
<% height = @s.height*scale %>
<% @types = Milkman::Application.config.project["object_types"] %>

<%- if @s.image_count>0 -%>
<button id="frameChanger">Frame <span id="frameDisplay">0</span></button>
<script type="text/javascript">

    $(document).ready(function($) {
      $('.imageFrame[frame!=0]').hide();
      $('ellipse[frame!=0]').hide();
    });

    $('#frameChanger').click(function() {
      currentFrame = parseInt($('#frameDisplay').text());
      newFrame = (currentFrame+1) % <%= @s.image_count %>;
      $('#frameDisplay').text(newFrame);
      $('.imageFrame[frame!='+newFrame+']').hide();
      $('.imageFrame[frame='+newFrame+']').show();
      $('ellipse[frame!='+newFrame+']').hide();
      $('ellipse[frame='+newFrame+']').show();
    });

</script>
<%- end -%>

<div id="catalogue-info">
    <ul>
        <li><span class="key">Activated</span> <%= time_ago_in_words(@s.activated_at) %> ago</li>
        <li><span class="key">Classifications</span>: <%= @s.classification_count %></li>
        <li><span class="key">DBSCAN Min</span>: <%= @min %></li>
        <li><span class="key">DBSCAN Eps</span>: <%= @eps %></li>
        <li><span class="key">Talk</span>: <a href="http://talk<%= Milkman::Application.config.project["url"]%>/#/subjects/<%= @s.zooniverse_id %>" target="_blank"><%= @s.zooniverse_id %></a></li>
        <span class="stretch"></span></ul>
</div>
<div id="maps">
  <svg height="<%= height %>" version="1.1" width="<%= width %>" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 <%= width.to_s %> <%= height.to_s %>" preserveAspectRatio="xMinYMin" style="overflow: hidden; position: relative;">
  <%- @opts = [@s.image, width, height] -%>
  <%= render partial: "image", obj: @opts %>

    <% @results.each do |type,res| %>
      <% res["reduced"].each_with_index do |d,i| %>
        
        <% d["signal"].each do |a| %>
            <%- @obj = [a, @s.zooniverse_id, scale, "#ffffff", i, "signal"] -%>
            <%= render partial: "#{type}", obj: @obj %>
        <% end %>

        <%- @obj = [d, @s.zooniverse_id, scale, @types[type]["hex"], i, "reduced"] -%>
        <%= render partial: "#{type}", obj: @obj %>

      <% end %>
    <% end %>

  </svg>
</div>

<div id="info">
  <div id="computed-info">
      <table class="scan-results">
        <tr class="table-header">
        <td>Type</td>
        <%- keys = Milkman::Application.config.project["dbscan"]["param_labels"].keys.each do |key| -%>
          <td><%= Milkman::Application.config.project["dbscan"]["param_labels"][key] %></td>
        <%- end -%>
        </tr>
        <% row=0 %>
        <% count = 0 %>
        <% @results.each do |type,res| %>
        <% res["reduced"].each do |a| %>
        <% row+=1 %>
          <tr class="<%= row%2==0 ? "even" : "odd" %>" onmouseover="$('[<%= type %>=<%= @s.zooniverse_id %>-<%= count %>]').css('opacity','0.5');" onmouseout="$('[<%= type %>=<%= @s.zooniverse_id %>-<%= count %>]').css('opacity','0');">
            <td> <%= @types[type]["label"] %></td>
            <%- keys = Milkman::Application.config.project["dbscan"]["param_labels"].keys.each do |key| -%>
              <td> <%= sprintf "%.1f", a[key] %> &plusmn; <%= sprintf "%.1f", a["quality"][key] %></td>
            <%- end -%>
          </tr>
          <% count+=1 %>
        <% end %>
        <% end %>
      </table>
      <div style="clear:both;"></div>
  </div>

  <div id="raw-<%= @s.zooniverse_id %>" class="raw-holder"></div>
  
  <script type="text/javascript">
    $.ajax({
      url: "/subjects/raw/<%= @s.zooniverse_id %>?eps=<%= @eps %>&min=<%= @min %>",
      cache: false,
      success: function(html){
        $("#raw-<%= @s.zooniverse_id %>").append(html);
      }
    });
  </script>

</div>
