<% scale = 1.2 %>
<% width = 800.0*scale %>
<% height = 400.0*scale %>
<% @hex =  Milkman::Application.config.hex %>
<% @types = Milkman::Application.config.types %>

<div id="catalogue-info">
    <ul>
        <li><span class="key">Coords</span>: <%= @s.glon %>, <%= @s.glat %></li>
        <li><span class="key">Size</span>: <%= @s.width %>, <%= @s.height %></li>
        <li><span class="key">Talk</span>: <a href="http://talk.milkywayproject.org/#/subjects/<%= @s.zooniverse_id %>" target="_blank"><%= @s.zooniverse_id %></a></li>
        <li><span class="key"><%= @s.dr1 ? "DR1" : "DR2" %></span></li>
        <span class="stretch"></span></ul>
</div>
<div id="maps">
  <svg height="<%= height %>" version="1.1" width="<%= width %>" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 <%= width %> <%= height %>" preserveAspectRatio="xMinYMin" style="overflow: hidden; position: relative;">
    <image xlink:href="<%= @s.image %>" preserveAspectRatio="xMidYMid meet" width="<%= width %>" height="<%= height %>"/>

    <% count = 0 %>
    <% @results.each do |d| %>
      <%- type = d["type"] -%>
      <%- x = (@s.glon-d.glon)/@s.pixel_scale + 400 -%>
      <%- y = (@s.glat-d.glat)/@s.pixel_scale + 200 -%>
      <%- w = d.degx/@s.pixel_scale -%>
      <%- h = d.degy/@s.pixel_scale -%>
      <ellipse cx="<%= x*scale %>" cy="<%= y*scale %>" rx="<%= w*scale %>" ry="<%= h*scale %>" <%= type %>="<%= count %>" fill="#000000" stroke="white" fill-opacity="0" stroke-width="4" tabindex="0" opacity="0.5" transform="rotate(<%= d.angle %>, <%= x*scale %>, <%= y*scale %>)" onmouseover="$('[<%= type %>=<%= count %>]').css('opacity', '1.0');" onmouseout="$('[<%= type %>=<%= count %>]').css('opacity', '0.5');" ></ellipse>
      <ellipse cx="<%= x*scale %>" cy="<%= y*scale %>" rx="<%= w*scale %>" ry="<%= h*scale %>" <%= type %>="<%= count %>" fill="#000000" stroke="<%= @hex[type] %>" fill-opacity="0" stroke-width="2" tabindex="0" opacity="1.0" transform="rotate(<%= d.angle %>, <%= x*scale %>, <%= y*scale %>)" onmouseover="$('[<%= type %>=<%= count %>]').css('opacity', '1.0');" onmouseout="$('[<%= type %>=<%= count %>]').css('opacity', '0.5');" ></ellipse>
      <%- if type=="bubble" -%>
         <%- t = d.thickness/@s.pixel_scale -%>
        <ellipse cx="<%= x*scale %>" cy="<%= y*scale %>" rx="<%= (w+t)*scale %>" ry="<%= (h+t)*scale %>" <%= type %>="<%= count %>" fill="#000000" stroke="white" fill-opacity="0" stroke-width="4" tabindex="0" opacity="0.5" transform="rotate(<%= d.angle %>, <%= x*scale %>, <%= y*scale %>)" onmouseover="$('[<%= type %>=<%= count %>]').css('opacity', '1.0');" onmouseout="$('[<%= type %>=<%= count %>]').css('opacity', '0.5');" ></ellipse>
        <ellipse cx="<%= x*scale %>" cy="<%= y*scale %>" rx="<%= (w+t)*scale %>" ry="<%= (h+t)*scale %>" <%= type %>="<%= count %>" fill="#000000" stroke="<%= @hex[type] %>" fill-opacity="0" stroke-width="2" tabindex="0" opacity="1.0" transform="rotate(<%= d.angle %>, <%= x*scale %>, <%= y*scale %>)" onmouseover="$('[<%= type %>=<%= count %>]').css('opacity', '1.0');" onmouseout="$('[<%= type %>=<%= count %>]').css('opacity', '0.5');" ></ellipse>
      <%- end -%>
      <% count+=1 %>
    <% end %>
  </svg>
</div>

<div id="info">
  <div id="computed-info">
      <table class="scan-results">
        <tr class="table-header">
          <td>Type</td>
          <td>GLON</td>
          <td>GLAT</td>
          <td>X (px)</td>
          <td>Y (px)</td>
          <td>RX</td>
          <td>RY</td>
          <td>PA/&deg;</td>
        </tr>
        <% row=0 %>
        <% count = 0 %>
        <% @results.each do |a| %>
        <%- type = a["type"] -%>
        <%- x = (@s.glon-a.glon)/@s.pixel_scale + 400 -%>
        <%- y = (@s.glat-a.glat)/@s.pixel_scale + 200 -%>
        <%- w = a.degx/@s.pixel_scale -%>
        <%- h = a.degy/@s.pixel_scale -%>
        <% row+=1 %>
          <tr class="<%= row%2==0 ? "even" : "odd" %>" onmouseover="$('[<%= type %>=<%= count %>]').css('opacity', '1.0');" onmouseout="$('[<%= type
            %>=<%= count %>]').css('opacity', '0.5');">
            <%- if type=="bubble" -%>
            <td> <%= @types.index(type) %></td>
            <td> <%= sprintf "%.4f", a.glon %> &plusmn; <%= sprintf "%.4f", a.dispersion %></td>
            <td> <%= sprintf "%.4f", a.glat %> &plusmn; <%= sprintf "%.4f", a.dispersion %></td>
            <td> <%= sprintf "%.1f", x %></td>
            <td> <%= sprintf "%.1f", y %></td>
            <td> <%= sprintf "%.1f", w %></td>
            <td> <%= sprintf "%.1f", h %></td>
            <td> <%= sprintf "%.1f", a.angle %></td>
            <%- else -%>
            <td> <%= @types.index(type) %></td>
            <td> <%= sprintf "%.4f", a.glon %></td>
            <td> <%= sprintf "%.4f", a.glat %></td>
            <td> <%= sprintf "%.1f", x %></td>
            <td> <%= sprintf "%.1f", y %></td>
            <td> <%= sprintf "%.1f", w %></td>
            <td> <%= sprintf "%.1f", h %></td>
            <td></td>
            <%- end -%>
          </tr>
          <% count+=1 %>
        <% end %>
      </table>
      <div style="clear:both;"></div>
  </div>

</div>
