<% scale = 1.2 %>
<% width = 800.0*scale %>
<% height = 400.0*scale %>
<div id="maps">
  <svg height="<%= height %>" version="1.1" width="<%= width %>" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 <%= width %> <%= height %>" preserveAspectRatio="xMinYMin" style="overflow: hidden; position: relative;">
    <image xlink:href="<%= @s.image %>" preserveAspectRatio="xMidYMid meet" width="<%= width %>" height="<%= height %>"/>

    <% @results.each do |type,res| %>
      <% res["noise"].each do |d| %>
        <ellipse cx="<%= d["x"]*scale %>" cy="<%= d["y"]*scale %>" rx="<%= d["rx"]*scale %>" ry="<%= d["ry"]*scale %>" <%= type %>="-1" fill="#000000" stroke="black" fill-opacity="0" stroke-width="2" tabindex="0" opacity="0" transform="rotate(<%= d["angle"] %>, <%= d["x"]*scale %>, <%= d["y"]*scale %>)"></ellipse>
      <% end %>
    <% end %>

    <% @results.each do |type,res| %>
      <% res["signal"].each do |k,arr| %>
        <% arr.each do |d| %>
          <ellipse cx="<%= d["x"]*scale %>" cy="<%= d["y"]*scale %>" rx="<%= d["rx"]*scale %>" ry="<%= d["ry"]*scale %>" <%= type %>="<%= k %>" fill="#000000" stroke="white" fill-opacity="0" stroke-width="2" tabindex="0" opacity="0"  transform="rotate(<%= d["angle"] %>, <%= d["x"]*scale %>, <%= d["y"]*scale %>)"></ellipse>
        <% end %>
      <% end %>
    <% end %>

    <% @results.each do |type,res| %>
      <% count = 0 %>
      <% res["reduced"].each do |d| %>
        <ellipse cx="<%= d["x"]*scale %>" cy="<%= d["y"]*scale %>" rx="<%= d["rx"]*scale %>" ry="<%= d["ry"]*scale %>" fill="#000000" stroke="white" fill-opacity="0" stroke-width="4" tabindex="0" opacity="0.5" transform="rotate(<%= d["angle"] %>, <%= d["x"]*scale %>, <%= d["y"]*scale %>)" onmouseover="$('[<%= type %>=<%= count %>]').css('opacity', '0.5');" onmouseout="$('[<%= type %>=<%= count %>]').css('opacity', '0');" ></ellipse>
        <ellipse cx="<%= d["x"]*scale %>" cy="<%= d["y"]*scale %>" rx="<%= d["rx"]*scale %>" ry="<%= d["ry"]*scale %>" fill="#000000" stroke="<%= @hex[type] %>" fill-opacity="0" stroke-width="2" tabindex="0" opacity="1.0" transform="rotate(<%= d["angle"] %>, <%= d["x"]*scale %>, <%= d["y"]*scale %>)" onmouseover="$('[<%= type %>=<%= count %>]').css('opacity', '0.5');" onmouseout="$('[<%= type %>=<%= count %>]').css('opacity', '0');" ></ellipse>
        <% count+=1 %>
      <% end %>
    <% end %>
  </svg>

</div>

<div id="info">
  <div id="catalogue-info">
      <ul>
          <li><span class="key">Subject</span>: <a href="http://talk.milkywayproject.org/#/subjects/<%= @s.zooniverse_id %>" target="_blank"><%= @s.zooniverse_id %></a></li>
          <li><span class="key">Coords</span>: <%= @s.glon %>, <%= @s.glat %></li>
          <li><span class="key">Size</span>: <%= @s.metadata["size"] %></li>
      </ul>
  </div>
  <div id="computed-info">
      <table class="scan-results">
        <tr class="table-header">
          <td>Type</td>
          <td>GLON</td>
          <td>GLAT</td>
          <td>X (px)</td>
          <td>Y (px)</td>
          <td>RX</td>
          <td>RY</td>
          <td>PA/&deg;</td>
        </tr>
        <% row=0 %>
        <% @types.each do |k,v| %>
        <% count = 0 %>
          <% @results[v]["reduced"].each do |a| %>
          <% row+=1 %>
            <tr class="<%= row%2==0 ? "even" : "odd" %>" onmouseover="$('[<%= v %>=<%= count %>]').css('opacity', '0.5');" onmouseout="$('[<%= v
              %>=<%= count %>]').css('opacity', '0');">
              <td> <%= k %></td>
              <td> <%= sprintf "%.4f", a["glon"] %> &plusmn; <%= sprintf "%.4f", a["quality"]["qglon"] %></td>
              <td> <%= sprintf "%.4f", a["glat"] %> &plusmn; <%= sprintf "%.4f", a["quality"]["qglat"] %></td>
              <td> <%= sprintf "%.3f", a["x"] %> &plusmn; <%= sprintf "%.3f", a["quality"]["qx"] %></td>
              <td> <%= sprintf "%.3f", a["y"] %> &plusmn; <%= sprintf "%.3f", a["quality"]["qy"] %></td>
              <td> <%= sprintf "%.2f", a["rx"] %></td>
              <td> <%= sprintf "%.2f", a["ry"] %></td>
              <td> <%= sprintf "%.1f", a["angle"] %></td>
            </tr>
            <% count+=1 %>
          <% end %>
        <% end %>
      </table>
      <ul>
        <li><span class="key">Volunteers</span>: <%= @s.classification_count %></li>
      </ul>
  </div>
</div>
