<!DOCTYPE html>
<html>
<head>
  <title>Milkman</title>
  <%= stylesheet_link_tag :all %>
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>

  <script type="text/javascript">
  $( document ).ready(function() {
    function goToSearch(){
      window.location = ('/subjects/'+$('#searchID').val());
    }

    $('#randomButton').click(function() {
      window.location = ('/subjects/<%= Subject.random.zooniverse_id %>');
    });

    $('#searchButton').click(function() {
      goToSearch();
    });

    $('#searchID').bind("enterKey",function(e){
      goToSearch();
    });

    $('#searchID').keyup(function(e){
        if(e.keyCode == 13)
        {
            $(this).trigger("enterKey");
        }
    });
  });
  </script>

</head>
<body>
<h1><a href="/"><%= @pagetitle %></a></h1>

<div id="search-buttons">
  <input type="textbox" id="searchID" value="e.g. AMW0002t48" onfocus="$('#searchID').val('');" onblur="$('#searchID').filter(function() { return $(this).val() == ''; }).val('e.g. AMW0002t48');" />
  <button id="searchButton" type="submit">Search</button>
  <button id="randomButton" type="submit">Random Image</button>
</div>

<%= yield %>

<div id="footer">
  <h3>Milkman delivers data for the Zooniverse's <a href="http://www.milkywayproject.org">Milky Way Project</a></h3>
  <small>
  Includes <%= number_with_delimiter(Classification.size) %> classifications up to <%= Classification.most_recent.created_at.to_formatted_s(:long_ordinal) %>
  <br/>
  Milkman is open source and <a href="https://github.com/ttfnrob/MilkMan/" target="_blank">on GitHub</a> &middot; Email rob@zooniverse.org</small>
</div>


</body>
</html>
